@import "src/styles/base/variables.scss";

:host {
    display: flex;
    align-items: flex-start;
    @media screen and (max-width: $mobile-breakpoint-medium) {
        flex-direction: column;
        aside {
            flex: 0 1 0rem;
            margin: 1rem 0;
        }
    }
}

figure {
    float: right;
    width: $article-image-width;
    margin: 0 0 2rem 2rem;
    font-size: 0.8rem;
    img {
        width: $article-image-width;
    }
}
@media screen and (max-width: $mobile-breakpoint-small) {
    figure {
        float: none;
        width: auto;
        margin: 1rem 0;
        img {
            width: 100%;
        }
    }
}

aside {
    flex: 0 0 10rem;
    background: lightgrey;
    margin: 1rem 0 0 1rem;
    padding: 1rem;
    border-radius: 0.25rem;
    font-size: 0.9rem;
    h1 {
        color: black;
        font-size: 1.1rem;
        text-transform: uppercase;
        margin-top: 0;
        &::before {
            border-left: none;
            margin: 0;
        }
    }
    p:last-of-type {
        margin-bottom: 0;
    }
    .highlight {
        font-style: italic;
        font-weight: bold;
    }
}
