<div class="main-content">
    <h1>Web Accessibility Facts</h1>
    <h2>General</h2>
    <ul>
        <li>
            Web accessibility doesn't only benefit people who are blind — it includes guidelines for people with other vision,
            hearing, mobility, and cognitive disabilities.
        </li>
        <li>
            Prioritizing accessibility usually improves usability for all, with or without a disability.
        </li>
        <li>
            Accessibility requires monitoring and maintenance — it isn’t a one-time fix.
        </li>
        <li>
            Accessible code is often cleaner code, so an investment in accessibility is an investment in more reliable and faster technology.
        </li>
    </ul>
    <a
        href="https://www.boia.org/blog/50-digital-accessibility-facts-for-global-accessibility-awareness-day-gaad"
        aria-label="More Facts about Web Accessibility"
    >
        More Facts
    </a>
    <h2>Assistive Technology</h2>
    <h3>Screen Readers</h3>
    <p>
        Many people who are blind or have visual disabilities use screen readers to read and navigate the web. An example for a
        screen reader for desktop devices is
        <a
            href="https://www.nvaccess.org/download/"
            target="_blank"
            rel="noopener noreferrer"
        >
            NVDA
        </a>
        , which is available for free. Popular smartphones come with robust screen readers already built in — Apple features
        <a
            href="https://en.wikipedia.org/wiki/VoiceOver"
            target="_blank"
            rel="noopener noreferrer"
        >
            VoiceOver
        </a>
        and Android features
        <a
            href="https://en.wikipedia.org/wiki/Google_TalkBack"
            target="_blank"
            rel="noopener noreferrer"
        >
            TalkBack
        </a>
        .
    </p>
    <h3>Speech To Text (STT)</h3>
    <p>
        People with disabilities can benefit from speech recognition programs. For individuals that are Deaf or Hard of Hearing, speech recognition software is used to automatically generate a closed-captioning of conversations such as discussions in conference rooms, classroom lectures, and/or religious services.
    </p>
    <p>
        Speech recognition is also very useful for people who have difficulty using their hands, ranging from mild repetitive stress injuries to involve disabilities that preclude using conventional computer input devices. In fact, people who used the keyboard a lot and developed RSI became an urgent early market for speech recognition
    </p>
    <p>
        Source:
        <a
            href="https://en.wikipedia.org/wiki/Speech_recognition#Usage_in_education_and_daily_life"
            target="_blank"
            rel="noopener noreferrer"
        >
            Wikipedia
        </a>
    </p>
</div>
<aside>
    Erklärung für a11y
</aside>
