<h1>{{ 'form.heading' | translate }}</h1>
<p>{{ 'form.generalInfo' | translate }}</p>
<form
    #exampleForm="ngForm"
    [ngClass]="{'show-error-texts': markInvalidFields, 'hidden': isSuccessfullySubmitted}"
    (ngSubmit)="onSubmit(exampleForm)"
>
    <p class="required-fields-info">
        {{ 'form.requiredFieldsInfo' | translate }}
    </p>
    <fieldset>
        <legend>
            {{ 'form.contactInfo.legend' | translate }}
        </legend>
        <div class="form-group">
            <label for="full-name">
                {{ 'form.contactInfo.fullName.label' | translate }}
                <abbr [title]="'form.required' | translate">*</abbr>
            </label>
            <input
                #fullNameInputElementRef
                id="full-name"
                type="text"
                autocomplete="name"
                name="fullName"
                required
                [(ngModel)]="fullName"
                #fullNameControl="ngModel"
                [appMarkInvalid]="!fullNameControl.valid && markInvalidFields ? 'full-name-error' : ''"
            >
            <p
                id="full-name-error"
                class="error-text"
            >
                {{ 'form.contactInfo.fullName.error' | translate }}
            </p>
        </div>
        <div class="form-group">
            <label for="email">
                {{ 'form.contactInfo.email.label' | translate }}
                <abbr [title]="'form.required' | translate">*</abbr>
            </label>
            <input
                #emailInputElementRef
                id="email"
                type="email"
                autocomplete="email"
                name="email"
                required
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                [(ngModel)]="email"
                #emailControl="ngModel"
                [appMarkInvalid]="!emailControl.valid && markInvalidFields ? 'email-error' : ''"
            >
            <p
                id="email-error"
                class="error-text"
            >
                {{ 'form.contactInfo.email.error' | translate }}
            </p>
        </div>
        <div class="form-group">
            <label for="phone-number">
                {{ 'form.contactInfo.phone.label' | translate }}
            </label>
            <input
                id="phone-number"
                type="tel"
                name="phoneNumber"
                autocomplete="tel"
                [(ngModel)]="phoneNumber"
            >
        </div>
        <div class="form-group">
            <label for="gender-select">
                {{ 'form.contactInfo.gender.label' | translate }}
            </label>
            <select
                id="gender-select"
                name="gender"
                autocomplete="sex"
                [(ngModel)]="gender"
            >
                <option value="female">
                    {{ 'form.contactInfo.gender.option.female' | translate }}
                </option>
                <option value="male">
                    {{ 'form.contactInfo.gender.option.male' | translate }}
                </option>
                <option value="other">
                    {{ 'form.contactInfo.gender.option.other' | translate }}
                </option>
                <option value="notsay">
                    {{ 'form.contactInfo.gender.option.notsay' | translate }}
                </option>
            </select>
        </div>
    </fieldset>
    <fieldset class="option-group">
        <legend>
            {{ 'form.favScreenReader.legend' | translate }}
        </legend>
        <div
            *ngFor="let screenReader of screenReaders; index as radioButtonIndex"
            class="option"
        >
            <input
                [id]="'fav-screen-reader' + radioButtonIndex"
                type="radio"
                name="favoriteScreenReader"
                [value]="screenReader"
                required
                [(ngModel)]="favoriteScreenReader"
            >
            <label [for]="'fav-screen-reader' + radioButtonIndex">
                {{ 'form.favScreenReader.option.' + screenReader | translate }}
            </label>
        </div>
    </fieldset>
    <fieldset class="option-group">
        <legend>
            {{ 'form.testingTools.legend' | translate }}
        </legend>
        <div
            *ngFor="let tool of testingTools; index as checkboxIndex"
            class="option"
        >
            <input
                [id]="'known-testing-tool' + checkboxIndex"
                type="checkbox"
                [name]="'known-testing-tool' + checkboxIndex"
                [value]="tool.name"
                [(ngModel)]="tool.checked"
            >
            <label
                [for]="'known-testing-tool' + checkboxIndex"
                lang="en"
            >
                {{tool.name}}
            </label>
        </div>
    </fieldset>
    <div class="form-actions">
        <button type="submit">{{ 'form.submitButton' | translate }}</button>
    </div>
</form>
<div
    *ngIf="isSuccessfullySubmitted"
    class="success-message"
>
    <p>{{successMessage}}</p>
    <p class="smaller">
        {{ 'form.success.favScreenReader' | translate }}:
        {{ 'form.favScreenReader.option.' + favoriteScreenReader | translate }}.
    </p>
    <p class="smaller">
        {{ 'form.success.testingTools' | translate }}:
        {{ checkedTestingTools ? checkedTestingTools : 'form.success.none' | translate }}.
    </p>
</div>
