@import "src/styles/base/mixins.scss";
@import "src/styles/base/placeholders.scss";
@import "src/styles/base/variables.scss";

form {
    border: 2px solid black;
    border-radius: 4px;
    max-width: 30rem;
    margin: 0 auto;
    padding: 0.75rem 0.5rem;

    &.show-error-texts {
        .form-group input:not(:focus).ng-invalid {
            border: 0.2rem solid $error-color;
        }
        input.ng-invalid + .error-text {
            display: block;
        }
    }

    p.required-fields-info {
        color: #555555;
        font-size: 0.85em;
        font-style: italic;
        margin: 0 1rem 0.75rem;
    }

    button[type="submit"] {
        margin-right: 0.25rem;
    }
}

.error-text {
    display: none;
    margin-top: 0.25rem;
    margin-bottom: 0;
    padding-right: 0.5rem;
    color: $error-color;
    text-align: right;
}

.form-group {
    margin-bottom: 1rem;
    label {
        display: inline-block;
        min-width: 10rem;
        text-align: right;
        margin-right: 1rem;
    }
    input, select {
        display: inline-block;
        min-width: 15rem;
    }
    input, select {
        padding: 0.5rem;
        border: 0.2rem solid $primary-color;
        &:focus {
            border: 0.2rem solid $primary-color-light;
            outline: none;
            @include boxShadow(0.5rem, 0.5rem, 0.1rem, -0.2rem, rgba(0, 0, 0, 0.4));
        }
    }
    select {
        padding-right: 2rem;
    }
}

.option-group {
    display: flex;
    flex-wrap: wrap;
    .option {
        display: flex;
        align-items: center;
        margin-left: 1rem;
        margin-bottom: 0.5rem;
        label {
            margin-left: 0.25rem;
        }
    }
}

.form-actions {
    display: flex;
    justify-content: flex-end;
}

.success-message {
    padding: 0.5rem;
    border: 0.25rem solid $success-color;
    color: $success-color;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    .smaller {
        font-size: 0.9em;
        color: black;
        font-weight: normal;
    }
}

@media screen and (max-width: 33rem) {
    .form-group label {
        display: block;
        text-align: left;
    }
}
