<h1>Form Example</h1>
<p>
    The following form is only a demonstration of how to create an accessible form.
    It only validates the input (on client side) in order to show error messages. The data
    you enter will not be sent to a server, stored or processed anywhere.
</p>
<form
    #exampleForm="ngForm"
    [ngClass]="{'show-error-texts': markInvalidFields, 'hidden': isSuccessfullySubmitted}"
    (ngSubmit)="onSubmit(exampleForm)"
>
    <fieldset>
        <legend>Contact Information</legend>
        <div class="form-group">
            <label for="full-name">
                Full Name
                <abbr title="required">*</abbr>
            </label>
            <input
                #fullNameInputElementRef
                id="full-name"
                type="text"
                autocomplete="name"
                name="fullName"
                required
                [(ngModel)]="fullName"
                #fullNameControl="ngModel"
                [appMarkInvalid]="!fullNameControl.valid && markInvalidFields ? 'full-name-error' : ''"
            >
            <p
                id="full-name-error"
                class="error-text"
            >
                Please enter your full name
            </p>
        </div>
        <div class="form-group">
            <label for="email">
                E-Mail
                <abbr title="required">*</abbr>
            </label>
            <input
                #emailInputElementRef
                id="email"
                type="email"
                autocomplete="email"
                name="email"
                required
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                [(ngModel)]="email"
                #emailControl="ngModel"
                [appMarkInvalid]="!emailControl.valid && markInvalidFields ? 'email-error' : ''"
            >
            <p
                id="email-error"
                class="error-text"
            >
                Please enter your e-mail address in the format "[username]@[server].[domain]". Example: alex@gmail.com
            </p>
        </div>
        <div class="form-group">
            <label for="phone-number">Phone Number</label>
            <input
                id="phone-number"
                type="tel"
                name="phoneNumber"
                autocomplete="tel"
                [(ngModel)]="phoneNumber"
            >
        </div>
        <div class="form-group">
            <label for="gender-select">Gender</label>
            <div class="select-wrapper">
                <select
                    id="gender-select"
                    name="gender"
                    [(ngModel)]="gender"
                >
                    <option value="female">Female</option>
                    <option value="male">Male</option>
                    <option value="other">Other</option>
                    <option value="notsay">Prefer not to say</option>
                </select>
            </div>
        </div>
    </fieldset>
    <fieldset class="option-group">
        <legend>Favorite Screen Reader</legend>
        <div
            *ngFor="let screenReader of screenReaders; index as radioButtonIndex"
            class="option"
        >
            <input
                [id]="'fav-screen-reader' + radioButtonIndex"
                type="radio"
                name="favoriteScreenReader"
                [value]="screenReader"
                required
                [(ngModel)]="favoriteScreenReader"
            >
            <label [for]="'fav-screen-reader' + radioButtonIndex">{{screenReader}}</label>
        </div>
    </fieldset>
    <fieldset class="option-group">
        <legend>Which Accessibilty Testing Tools Do You Know?</legend>
        <div
            *ngFor="let tool of testingTools; index as checkboxIndex"
            class="option"
        >
            <input
                [id]="'known-testing-tool' + checkboxIndex"
                type="checkbox"
                [name]="'known-testing-tool' + checkboxIndex"
                [value]="tool.name"
                [(ngModel)]="tool.checked"
            >
            <label [for]="'known-testing-tool' + checkboxIndex">{{tool.name}}</label>
        </div>
    </fieldset>
    <div class="form-actions">
        <button type="submit">Submit</button>
    </div>
</form>
<div
    *ngIf="isSuccessfullySubmitted"
    class="success-message"
>
    <p>{{successMessage}}</p>
    <p class="smaller">
        You're favorite screen reader is {{favoriteScreenReader}}.
    </p>
    <p class="smaller">
        You know the following testing tools: {{checkedTestingTools ? checkedTestingTools : '(none)'}}.
    </p>
</div>
