@import "src/styles/base/mixins.scss";
@import "src/styles/base/variables.scss";

body {
    margin: 0;
    padding: 0;
}

#app-container.special-dark-mode {
    max-width: 100%;
    margin: 0;
    background: black;
}
#app-container.special-dark-mode * {
    user-select: none;
    background: black;
    color: black;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    &:focus {
        // This is an absolute A11Y NO GO!
        // I forced myself to write this to simulate how a blind person would experience this website (see README.md) ... it still hurt!
        outline: none;
    }
}
#app-container.special-dark-mode img {
    opacity: 0;
}

button {
    margin: 0;
    padding: 0.5rem;
    background: $primary-color;
    color: white;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    @include boxShadow(8px, 8px, 0px, -3px, rgba(0, 0, 0, 0.75));
    cursor: pointer;
    &:focus,
    &:hover {
        outline: 0.15rem solid black;
        outline-offset: 1px;
        @include boxShadow(8px, 8px, 0px, -3px, rgba(0, 0, 0, 0.25));
    }
}

a[href] {
    color: $primary-color;
    &:focus,
    &:hover {
        outline: 0.15rem solid black;
        outline-offset: 1px;
    }
}
a[href].router-link-active {
    background: white;
}

li:not(:last-of-type) {
    margin-bottom: 0.5rem;
}
