@import "src/styles/base/mixins.scss";
@import "src/styles/base/placeholders.scss";
@import "src/styles/base/variables.scss";

body {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif
}

main h1::before {
    content: "";
    border-left: 0.25rem solid $primary-color;
    margin-right: 0.4rem;
}

h1, h2, h3, h4, h5, h6, button, legend {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.025em;
}

p, ul, ol {
    line-height: 1.4em;
}

button {
    margin: 0;
    padding: 0.5rem;
    background: $primary-color;
    color: white;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    @include boxShadow(8px, 8px, 0px, -3px, rgba(0, 0, 0, 0.5));
    cursor: pointer;
    &:focus,
    &:hover {
        @extend %basicOutline;
        @include boxShadow(8px, 8px, 0px, -3px, rgba(0, 0, 0, 0.25));
    }
}

a[href] {
    color: $primary-color;
    &:focus,
    &:hover {
        @extend %basicOutline;
    }
}

li:not(:last-of-type) {
    margin-bottom: 0.5rem;
}

.cdk-visually-hidden {
    @extend %screenReaderOnly;
}

.hidden {
    display: none;
}

/////////////////////////////////////////////////////////
// Custom styling of native form elements
/////////////////////////////////////////////////////////
fieldset {
    border: none;
    legend {
        margin: 0.5rem 0;
        font-size: 1.2rem;
        font-weight: bold;
    }
}

input {
    -webkit-appearance: none;
    appearance: none;
}

input[type="checkbox"] {
    position: relative;
    width: 1.4em;
    height: 1.4em;
    border: 0.15rem solid $primary-color;
    /* Set here so that Windows' High-Contrast Mode can override */
    color: black;
}
input[type="checkbox"]::before,
input[type="checkbox"]::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.1em;
    height: 0.25em;
    background-color: black;
    border-radius: 0.1em;
    visibility: hidden;
}
input[type="checkbox"]::before {
    transform: translate(-50%, -50%) rotate(45deg);
}
input[type="checkbox"]::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}
input[type="checkbox"]:checked::before,
input[type="checkbox"]:checked::after {
    /* Use `visibility` instead of `display` to avoid recalculating layout */
    visibility: visible;
}
input[type=checkbox]:focus {
    border: 0.15rem solid $primary-color-light;
    outline: none;
    @include boxShadow(0.2rem, 0.2rem, 0, 0, rgba(0, 0, 0, 0.5));
}

input[type="radio"] {
    position: relative;
    width: 1.4em;
    height: 1.4em;
    border: 0.15rem solid $primary-color;
    border-radius: 50%;
    /* Set here so that Windows' High-Contrast Mode can override */
    color: black;
}
input[type="radio"]::before {
    position: absolute;
    top: 50%;
    left: 50%;
    content: "";
    width: 0.7em;
    height: 0.7em;
    border-radius: 50%;
    background-color: $primary-color;
    transform: translate(-50%, -50%) scale(0);
    transform-origin: center;
    transition: all 0.3s ease-in;
}
input[type="radio"]:checked::before {
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.3s cubic-bezier(0.25, 0.25, 0.56, 2);
}
input[type=radio]:focus {
    border: 0.15rem solid $primary-color-light;
    outline: none;
}
input[type="radio"]:focus::before {
    background-color: $primary-color-light;
}

/////////////////////////////////////////////////////////
// Special dark mode for hiding all visual information
/////////////////////////////////////////////////////////
#app-container.special-dark-mode {
    max-width: 100%;
    margin: 0;
    background: black;
}
#app-container.special-dark-mode * {
    user-select: none;
    background: black;
    color: black;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    &:focus {
        // This is an absolute A11Y NO GO!
        // I forced myself to write this to simulate how a blind person would experience this website (see README.md) ... it still hurt!
        outline: none;
    }
}
#app-container.special-dark-mode img,
#app-container.special-dark-mode input {
    opacity: 0;
}
#app-container.special-dark-mode h1::before {
    border-left: none;
}
