@import "src/styles/base/mixins.scss";
@import "src/styles/base/placeholders.scss";
@import "src/styles/base/variables.scss";

:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a.skip-link:not(:focus) {
    @extend %screenReaderOnly;
}
a.skip-link:focus {
    margin: 0.5rem;
    align-self: center;
}

header,
main {
    padding: 1rem;
}

header {
    @include boxShadow(0px, 2px, 5px, 0px, rgba(0, 0, 0, 0.75));
    flex: 0 0 4rem;
    background-color: $primary-bg-color;
    .header-content {
        max-width: $content-max-width;
        margin: 0 auto;
    }
    .first-line {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
    }
    h1 {
        font-size: 1.8rem;
        letter-spacing: 0.05em;
        margin: 0;
        text-transform: uppercase;
    }
    nav > ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        li {
            list-style: none;
            &:not(:last-of-type) {
                margin-right: 0.5rem;
            }
        }
        a[href] {
            padding: 0.5rem;
            color: black;
            font-weight: bold;
            white-space: nowrap;
        }
        a[aria-current="page"] {
            background: white;
        }
    }
}

main {
    flex: 1 1 0rem;
    max-width: $content-max-width;
    margin: 0 auto;
}

footer {
    background-color: lightgrey;
    padding: 0.5rem 1rem;
    text-align: center;
}

@media screen and (max-width: $mobile-breakpoint-medium) {
    header h1 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 32rem) {
    header {
        .first-line {
            display: block;
            button {
                margin-top: 0.5rem;
            }
        }
        h1 {
            font-size: 1.3rem;
        }
        nav > ul li {
            margin-top: 0.5rem;
        }
    }
}
