<a
    [href]="skipLinkToMain"
    accesskey="1"
    class="skip-link"
>
    {{ 'skipLink.main' | translate }}
</a>
<a
    [href]="skipLinkToNavigation"
    accesskey="2"
    class="skip-link"
>
    {{ 'skipLink.nav' | translate }}
</a>
<header>
    <div class="header-content">
        <div class="first-line">
            <h1>{{ 'header.title' | translate }}</h1>
            <button
                role="switch"
                [attr.aria-checked]="isSpecialDarkModeOn"
                (click)="onToggleDarkMode()"
            >
                {{ 'header.goDarkButton' | translate }}
            </button>
        </div>
        <nav
            [id]="navigationId"
            class="main-navigation"
            aria-label="Main Navigation"
        >
            <ul>
                <li>
                    <a
                        [routerLink]="['/home']"
                        routerLinkActive
                        #rla1="routerLinkActive"
                        [appCurrentPage]="rla1.isActive"
                    >
                        {{ 'page.home' | translate }}
                    </a>
                </li>
                <li>
                    <a
                        [routerLink]="['/facts']"
                        routerLinkActive
                        #rla2="routerLinkActive"
                        [appCurrentPage]="rla2.isActive"
                    >
                        {{ 'page.facts' | translate }}
                    </a>
                </li>
                <li>
                    <a
                        [routerLink]="['/form']"
                        routerLinkActive
                        #rla3="routerLinkActive"
                        [appCurrentPage]="rla3.isActive"
                    >
                        {{ 'page.form' | translate }}
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<main [id]="mainContentId">
    <router-outlet></router-outlet>
</main>
<footer>
    <span>{{ 'footer.part1' | translate }}&nbsp;</span>
    <a
        href="https://twitter.com/hashtag/a11y"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Search for hashtag A 11 Y on twitter"
    >#a11y</a>
    <span>&nbsp;{{ 'footer.part2' | translate }}&nbsp;</span>
    <a
        href="https://github.com/alexlehner86"
        target="_blank"
        rel="noopener noreferrer"
    >Alexander Lehner</a>
</footer>
