:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header,
main {
    padding: 1rem;
}

header,
footer {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

header {
    flex: 0 0 4rem;
    background-color: rgb(245, 188, 253);
    .header-content {
        max-width: 50rem;
        margin: 0 auto;
    }
    .first-line {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    h1 {
        text-transform: uppercase;
        letter-spacing: 0.1em;
        margin: 0;
    }
    nav {
        margin-top: 1rem;
        a[href] {
            color: black;
            font-weight: bold;
            &:not(:last-of-type) {
                margin-right: 0.5rem;
            }
        }
    }
}

main {
    flex: 1 1 0rem;
    max-width: 50rem;
    margin: 0 auto;
}

footer {
    background-color: lightgrey;
    padding: 0.5rem 1rem;
    text-align: center;
}
