<header>
    <div class="header-content">
        <div class="first-line">
            <h1>Come to the dark side</h1>
            <button
                role="switch"
                [attr.aria-checked]="isSpecialDarkModeOn"
                (click)="onToggleDarkMode()"
            >
                Go Dark
            </button>
        </div>
        <nav
            class="main-navigation"
            aria-label="Main Navigation"
        >
            <a
                [routerLink]="['/home']"
                routerLinkActive="router-link-active"
                #rla1="routerLinkActive"
                [appCurrentPage]="rla1.isActive"
            >Home</a>
            <a
                [routerLink]="['/facts']"
                routerLinkActive="router-link-active"
                #rla2="routerLinkActive"
                [appCurrentPage]="rla2.isActive"
            >Web Accessibility Facts</a>
            <a
                [routerLink]="['/form']"
                routerLinkActive="router-link-active"
                #rla3="routerLinkActive"
                [appCurrentPage]="rla3.isActive"
            >Form Example</a>
        </nav>
    </div>
</header>
<main>
    <router-outlet></router-outlet>
</main>
<footer>An a11y project by Alexander Lehner</footer>
