/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    padding: 0;
}

#app-container.special-dark-mode {
    max-width: 100%;
    margin: 0;
}
#app-container.special-dark-mode * {
    pointer-events: none;
    user-select: none;
    background: black;
    color: black;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    &:focus {
        // This is an absolute A11Y NO GO!
        // I forced myself to write this to simulate how a blind person would experience this website (see README.md) ... it still hurt!
        outline: none;
    }
}

button {
    margin: 0;
    padding: 0.5rem;
    background: rgb(115, 7, 158);
    color: white;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    -webkit-box-shadow: 8px 8px 0px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 8px 8px 0px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 8px 8px 0px -3px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    &:focus,
    &:hover {
        outline: 0.15rem solid black;
        outline-offset: 1px;
        -webkit-box-shadow: 8px 8px 0px -3px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 8px 8px 0px -3px rgba(0, 0, 0, 0.25);
        box-shadow: 8px 8px 0px -3px rgba(0, 0, 0, 0.25);
    }
}

a[href]:focus,
a[href]:hover {
    outline: 0.15rem solid black;
    outline-offset: 1px;
}
