// Layout
$mobile-breakpoint-medium: 45rem;
$mobile-breakpoint-small: 25rem;
$content-max-width: 40rem;
$article-image-width: 15rem;

// Colors
$primary-color: rgb(115, 7, 158);
$primary-color-light: rgb(173, 7, 158);
$primary-bg-color: rgb(245, 188, 253);
$error-color: rgb(158, 4, 4);
$success-color: rgb(3, 80, 3);
